<!DOCTYPE html>
<html lang="en">

<head>
    <!-- meta tags -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="keywords" content="">

    <!-- title -->
    <title>Braintox - Machine Learning And Data Science HTML5 Template</title>

    <!-- favicon -->
    <link rel="icon" type="image/x-icon" href="assets/img/logo/favicon.png">

    <!-- css -->
    <link rel="stylesheet" href="assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/all-fontawesome.min.css">
    <link rel="stylesheet" href="assets/css/flaticon.css">
    <link rel="stylesheet" href="assets/css/animate.min.css">
    <link rel="stylesheet" href="assets/css/magnific-popup.min.css">
    <link rel="stylesheet" href="assets/css/owl.carousel.min.css">
    <link rel="stylesheet" href="assets/css/style.css">

</head>

<body>

    <!-- preloader -->
    <div class="preloader">
        <div class="loader">
            <div class="loader-box-1"></div>
            <div class="loader-box-2"></div>
        </div>
    </div>
    <!-- preloader end -->


    <!-- header area -->
    <header class="home-3 header">

        <div class="main-navigation">
            <nav class="navbar navbar-expand-lg">
                <div class="container">
                    <a class="navbar-brand" href="index.html">
                        <img src="assets/img/logo/logo.png" class="logo-display" alt="logo">
                        <img src="assets/img/logo/logo-dark.png" class="logo-scrolled" alt="logo">
                    </a>
                    <div class="mobile-menu-right">
                        <a href="#" class="mobile-search-btn search-box-outer"><i class="far fa-search"></i></a>
                        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                            data-bs-target="#main_nav" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"><i class="far fa-bars"></i></span>
                        </button>
                    </div>
                    <div class="collapse navbar-collapse" id="main_nav">
                        <ul class="navbar-nav ms-auto">
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle active" href="#" data-bs-toggle="dropdown">Home</a>
                                <ul class="dropdown-menu fade-up">
                                    <li><a class="dropdown-item" href="index.html">Home Page 01</a></li>
                                    <li><a class="dropdown-item" href="index-2.html">Home Page 02</a></li>
                                    <li><a class="dropdown-item" href="index-3.html">Home Page 03</a></li>
                                </ul>
                            </li>
                            <li class="nav-item"><a class="nav-link" href="about.html"> About </a></li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown">Pages</a>
                                <ul class="dropdown-menu fade-up">
                                    <li><a class="dropdown-item" href="about.html">About Us</a></li>
                                    <li><a class="dropdown-item" href="team.html">Team Members</a></li>
                                    <li><a class="dropdown-item" href="pricing.html">Our Pricing</a></li>
                                    <li><a class="dropdown-item" href="contact.html">Contact Us</a></li>
                                    <li><a class="dropdown-item" href="faq.html">Faq</a></li>
                                    <li><a class="dropdown-item" href="testimonial.html">Testimonials</a></li>
                                    <li><a class="dropdown-item" href="login.html">Login</a></li>
                                    <li><a class="dropdown-item" href="register.html">Register</a></li>
                                    <li><a class="dropdown-item" href="forgot-password.html">Forgot Password</a></li>
                                    <li><a class="dropdown-item" href="404.html">404 Error</a></li>
                                    <li><a class="dropdown-item" href="coming-soon.html">Coming Soon</a></li>
                                    <li><a class="dropdown-item" href="terms.html">Terms Of Service</a></li>
                                    <li><a class="dropdown-item" href="privacy.html">Privacy Policy</a></li>
                                </ul>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown">Service</a>
                                <ul class="dropdown-menu fade-up">
                                    <li><a class="dropdown-item" href="service.html">Service One</a></li>
                                    <li><a class="dropdown-item" href="service-2.html">Service Two</a></li>
                                    <li><a class="dropdown-item" href="service-single.html">Service Details</a></li>
                                </ul>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown">Project</a>
                                <ul class="dropdown-menu fade-up">
                                    <li><a class="dropdown-item" href="project.html">Project One</a></li>
                                    <li><a class="dropdown-item" href="project-2.html">Project Two</a></li>
                                    <li><a class="dropdown-item" href="project-single.html">Project Details</a></li>
                                </ul>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown">Blog</a>
                                <ul class="dropdown-menu fade-up">
                                    <li><a class="dropdown-item" href="blog.html">Blog</a></li>
                                    <li><a class="dropdown-item" href="blog-single.html">Blog Single</a></li>
                                </ul>
                            </li>
                            <li class="nav-item"><a class="nav-link" href="contact.html">Contact</a></li>
                        </ul>
                        <div class="header-nav-right">
                            <div class="header-nav-search">
                                <a href="#" class="search-box-outer"><i class="far fa-search"></i></a>
                            </div>
                            <div class="header-btn">
                                <a href="#" class="theme-btn">GET QUOTE</a>
                            </div>
                        </div>
                    </div>
                </div>
            </nav>
        </div>
    </header>
    <!-- header area end -->


    <!-- popup search -->
    <div class="search-popup">
        <button class="close-search"><span class="far fa-times"></span></button>
        <form action="#">
            <div class="form-group">
                <input type="search" name="search-field" placeholder="Search Here..." required>
                <button type="submit"><i class="far fa-search"></i></button>
            </div>
        </form>
    </div>
    <!-- popup search end -->




    <main class="home-3 main">

        <!-- hero slider -->
        <div class="hero-section hero-slider owl-carousel owl-theme">
            <div class="hero-single" style="background-image: url(assets/img/hero/slider-1.jpg)">
                <div class="container">
                    <div class="row align-items-center">
                        <div class="col-md-7 col-lg-7">
                            <div class="hero-content">
                                <h6 class="hero-sub-title wow animate__animated animate__fadeInDown"
                                    data-wow-duration="1s" data-wow-delay=".25s"> Best Cyber Security For You
                                </h6>
                                <h1 class="hero-title wow animate__animated animate__fadeInLeft" data-wow-duration="1s"
                                    data-wow-delay=".50s">
                                    We Are Ready To <span>Protect Your Data</span> From Hackers
                                </h1>
                                <p class="wow animate__animated animate__fadeInRight" data-wow-duration="1s"
                                    data-wow-delay=".75s">
                                    There are many variations of passages available but the majority have suffered
                                    alteration in some form by injected humour or randomised words.
                                </p>
                                <div class="hero-btn wow animate__animated animate__fadeInUp" data-wow-duration="1s"
                                    data-wow-delay="1s">
                                    <a href="contact.html" class="theme-btn">Contact Us</a>
                                    <div class="video-btn">
                                        <a href="https://www.youtube.com/watch?v=ckHzmP1evNU" class="play-btn popup-youtube"><i class="fas fa-play"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="hero-single" style="background-image: url(assets/img/hero/slider-2.jpg)">
                <div class="container">
                    <div class="row align-items-center">
                        <div class="col-md-7 col-lg-7">
                            <div class="hero-content">
                                <h6 class="hero-sub-title wow animate__animated animate__fadeInDown"
                                    data-wow-duration="1s" data-wow-delay=".25s"> Best Cyber Security For You
                                </h6>
                                <h1 class="hero-title wow animate__animated animate__fadeInLeft" data-wow-duration="1s"
                                    data-wow-delay=".50s">
                                    We Are Ready To <span>Protect Your Data</span> From Hackers
                                </h1>
                                <p class="wow animate__animated animate__fadeInRight" data-wow-duration="1s"
                                    data-wow-delay=".75s">
                                    There are many variations of passages available but the majority have suffered
                                    alteration in some form by injected humour or randomised words.
                                </p>
                                <div class="hero-btn wow animate__animated animate__fadeInUp" data-wow-duration="1s"
                                    data-wow-delay="1s">
                                    <a href="contact.html" class="theme-btn">Contact Us</a>
                                    <div class="video-btn">
                                        <a href="https://www.youtube.com/watch?v=ckHzmP1evNU" class="play-btn popup-youtube"><i class="fas fa-play"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="hero-single" style="background-image: url(assets/img/hero/slider-3.jpg)">
                <div class="container">
                    <div class="row align-items-center">
                        <div class="col-md-7 col-lg-7">
                            <div class="hero-content">
                                <h6 class="hero-sub-title wow animate__animated animate__fadeInDown"
                                    data-wow-duration="1s" data-wow-delay=".25s"> Best Cyber Security For You
                                </h6>
                                <h1 class="hero-title wow animate__animated animate__fadeInLeft" data-wow-duration="1s"
                                    data-wow-delay=".50s">
                                    We Are Ready To <span>Protect Your Data</span> From Hackers
                                </h1>
                                <p class="wow animate__animated animate__fadeInRight" data-wow-duration="1s"
                                    data-wow-delay=".75s">
                                    There are many variations of passages available but the majority have suffered
                                    alteration in some form by injected humour or randomised words.
                                </p>
                                <div class="hero-btn wow animate__animated animate__fadeInUp" data-wow-duration="1s"
                                    data-wow-delay="1s">
                                    <a href="contact.html" class="theme-btn">Contact Us</a>
                                    <div class="video-btn">
                                        <a href="https://www.youtube.com/watch?v=ckHzmP1evNU" class="play-btn popup-youtube"><i class="fas fa-play"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- hero slider end -->



        <!-- feature area -->
        <div class="feature-area pt-120">
            <div class="container">
                <div class="feature-area-wrapper">
                    <div class="row">
                        <div class="col-md-6 col-lg-4">
                            <div class="feature-item">
                                <div class="feature-icon">
                                    <i class="flaticon-processor"></i>
                                </div>
                                <div class="feature-content">
                                    <h5>Artificial Intelligence Technology</h5>
                                    <p>It is a long established fact that a reader will be distracted by the readable
                                        content of a page when looking at its layout.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-4">
                            <div class="feature-item">
                                <div class="feature-icon">
                                    <i class="flaticon-machine-learning"></i>
                                </div>
                                <div class="feature-content">
                                    <h5>Machine Learning Technology</h5>
                                    <p>It is a long established fact that a reader will be distracted by the readable
                                        content of a page when looking at its layout.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-4">
                            <div class="feature-item">
                                <div class="feature-icon">
                                    <i class="flaticon-deep-learning"></i>
                                </div>
                                <div class="feature-content">
                                    <h5>Data Science Technology</h5>
                                    <p>It is a long established fact that a reader will be distracted by the readable
                                        content of a page when looking at its layout.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- feature area end -->



        <!-- about area -->
        <div class="about-area py-120">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-6">
                        <div class="about-left">
                            <div class="about-img">
                                <img src="assets/img/about/01.png" alt="">
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="about-right">
                            <div class="site-heading mb-3">
                                <span class="site-title-tagline">About Us</span>
                                <h2 class="site-title">We Offer <span>Machine Learning And Data</span> Services For You
                                </h2>
                            </div>
                            <p class="about-text">There are many variations of passages of Lorem Ipsum available,
                                but the majority have suffered alteration in some form, by injected humour, or
                                randomised words which don't look even.</p>
                            <div class="about-list-wrapper">
                                <ul class="about-list list-unstyled">
                                    <li>
                                        <div class="icon"><span class="fas fa-check-circle"></span></div>
                                        <div class="text">
                                            <p>Take a look at our round up of the best shows</p>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="icon"><span class="fas fa-check-circle"></span></div>
                                        <div class="text">
                                            <p>It has survived not only five centuries</p>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="icon"><span class="fas fa-check-circle"></span></div>
                                        <div class="text">
                                            <p>Lorem Ipsum has been the ndustry standard dummy text</p>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                            <a href="about.html" class="theme-btn">Discover More</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- about area end -->



        <!-- service area -->
        <div class="service-area bg py-120">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 mx-auto">
                        <div class="site-heading text-center">
                            <span class="site-title-tagline">Services</span>
                            <h2 class="site-title">What We <span>Offer</span></h2>
                            <div class="heading-divider"></div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 col-lg-4">
                        <div class="service-item">
                            <div class="service-icon">
                                <i class="flaticon-machine-learning"></i>
                            </div>
                            <h3 class="service-title">
                                <a href="#">Machine Learning</a>
                            </h3>
                            <p class="service-text">
                                At vero eos et accusamus iusto odiota kattioda dignissimos ducimus qui blanditiis
                                praesentium voluptatum deleniti.
                            </p>
                            <div class="service-arrow">
                                <a href="#" class="service-read-btn">Learn More<i
                                        class="far fa-long-arrow-right"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4">
                        <div class="service-item">
                            <div class="service-icon">
                                <i class="flaticon-data-mining"></i>
                            </div>
                            <h3 class="service-title">
                                <a href="#">Data Mining</a>
                            </h3>
                            <p class="service-text">
                                At vero eos et accusamus iusto odiota kattioda dignissimos ducimus qui blanditiis
                                praesentium voluptatum deleniti.
                            </p>
                            <div class="service-arrow">
                                <a href="#" class="service-read-btn">Learn More<i
                                        class="far fa-long-arrow-right"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4">
                        <div class="service-item">
                            <div class="service-icon">
                                <i class="flaticon-automation"></i>
                            </div>
                            <h3 class="service-title">
                                <a href="#">Robotic Automation</a>
                            </h3>
                            <p class="service-text">
                                At vero eos et accusamus iusto odiota kattioda dignissimos ducimus qui blanditiis
                                praesentium voluptatum deleniti.
                            </p>
                            <div class="service-arrow">
                                <a href="#" class="service-read-btn">Learn More<i
                                        class="far fa-long-arrow-right"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4">
                        <div class="service-item">
                            <div class="service-icon">
                                <i class="flaticon-deep-learning"></i>
                            </div>
                            <h3 class="service-title">
                                <a href="#">Deep Learning</a>
                            </h3>
                            <p class="service-text">
                                At vero eos et accusamus iusto odiota kattioda dignissimos ducimus qui blanditiis
                                praesentium voluptatum deleniti.
                            </p>
                            <div class="service-arrow">
                                <a href="#" class="service-read-btn">Learn More<i
                                        class="far fa-long-arrow-right"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4">
                        <div class="service-item">
                            <div class="service-icon">
                                <i class="flaticon-predictive-chart"></i>
                            </div>
                            <h3 class="service-title">
                                <a href="#">Predictive Analytic</a>
                            </h3>
                            <p class="service-text">
                                At vero eos et accusamus iusto odiota kattioda dignissimos ducimus qui blanditiis
                                praesentium voluptatum deleniti.
                            </p>
                            <div class="service-arrow">
                                <a href="#" class="service-read-btn">Learn More<i
                                        class="far fa-long-arrow-right"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4">
                        <div class="service-item">
                            <div class="service-icon">
                                <i class="flaticon-processor"></i>
                            </div>
                            <h3 class="service-title">
                                <a href="#">Security & Surveillance</a>
                            </h3>
                            <p class="service-text">
                                At vero eos et accusamus iusto odiota kattioda dignissimos ducimus qui blanditiis
                                praesentium voluptatum deleniti.
                            </p>
                            <div class="service-arrow">
                                <a href="#" class="service-read-btn">Learn More<i
                                        class="far fa-long-arrow-right"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- service area end -->



        <!-- choose area -->
        <div class="choose-area py-120">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-6">
                        <div class="choose-img">
                            <img src="assets/img/choose/01.svg" alt="">
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="choose-content">
                            <div class="site-heading mb-3">
                                <span class="site-title-tagline">Why Choose Us</span>
                                <h2 class="site-title my-3">We Provide Best <span>Machine Learning & Data</span> Solutions
                                </h2>
                            </div>
                            <p class="mb-30">There are many variations of passages of Lorem Ipsum available,
                                but the majority have suffered alteration in some form, by injected humour, or
                                randomised words which don't look even.</p>
                            <div class="row">
                                <div class="col-md-6">
                                    <ul>
                                        <li>
                                            <h5>Managed Secure Backups</h5>
                                        </li>
                                        <li>
                                            <h5>Advanced Tchnology</h5>
                                        </li>
                                        <li>
                                            <h5>High-Quality Results</h5>
                                        </li>
                                    </ul>
                                </div>
                                <div class="col-md-6">
                                    <ul class="mt-md-0">
                                        <li>
                                            <h5>Competitive Pricing</h5>
                                        </li>
                                        <li>
                                            <h5>Advance Advisory Team</h5>
                                        </li>
                                        <li>
                                            <h5>Advance Quality Experts</h5>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- choose area end -->



        <!-- cta area -->
        <div class="cta-area">
            <div class="container">
                <div class="row">
                    <div class="cta-content">
                        <h5>We Offer Quality Service</h5>
                        <h2>We Are Offering 30 Days Free Trial</h2>
                        <p>It is a long established fact that a reader will be distracted by the readable content <br>
                            of a page when looking at its layout.</p>
                        <a href="#" class="theme-btn mt-5">Start Your Free Trial</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- cta area end -->



        <!-- case area -->
        <div class="case-area py-120">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 mx-auto">
                        <div class="site-heading text-center">
                            <span class="site-title-tagline">Cases</span>
                            <h2 class="site-title">Featured <span>Projects</span></h2>
                            <div class="heading-divider"></div>
                        </div>
                    </div>
                </div>
                <div class="filter-controls">
                    <ul class="filter-btns">
                        <li class="active" data-filter="*">All</li>
                        <li data-filter=".cat1">Machine</li>
                        <li data-filter=".cat2">Robot</li>
                        <li data-filter=".cat3">Technology</li>
                        <li data-filter=".cat4">Data</li>
                        <li data-filter=".cat5">Science</li>
                    </ul>
                </div>
                <div class="row filter-box popup-gallery">
                    <div class="col-md-6 col-lg-4 filter-item cat1 cat2">
                        <div class="case-item">
                            <div class="case-img">
                                <img class="img-fluid" src="assets/img/case/01.jpg" alt="">
                                <a class="popup-img case-link" href="assets/img/case/01.jpg"> <i
                                        class="fal fa-plus"></i></a>
                            </div>
                            <div class="case-content">
                                <div class="case-content-info">
                                    <small>Science</small>
                                    <h4><a href="#">Artificial Intelligence</a></h4>
                                </div>
                                <a href="#" class="case-arrow"><i class="far fa-arrow-right"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4 filter-item cat2 cat3">
                        <div class="case-item">
                            <div class="case-img">
                                <img class="img-fluid" src="assets/img/case/02.jpg" alt="">
                                <a class="popup-img case-link" href="assets/img/case/02.jpg"> <i
                                        class="fal fa-plus"></i></a>
                            </div>
                            <div class="case-content">
                                <div class="case-content-info">
                                    <small>Data</small>
                                    <h4><a href="#">Data Science</a></h4>
                                </div>
                                <a href="#" class="case-arrow"><i class="far fa-arrow-right"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4 filter-item cat3 cat4 cat5">
                        <div class="case-item">
                            <div class="case-img">
                                <img class="img-fluid" src="assets/img/case/03.jpg" alt="">
                                <a class="popup-img case-link" href="assets/img/case/03.jpg"> <i
                                        class="fal fa-plus"></i></a>
                            </div>
                            <div class="case-content">
                                <div class="case-content-info">
                                    <small>Machine</small>
                                    <h4><a href="#">Machine Learning</a></h4>
                                </div>
                                <a href="#" class="case-arrow"><i class="far fa-arrow-right"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4 filter-item cat2 cat4">
                        <div class="case-item">
                            <div class="case-img">
                                <img class="img-fluid" src="assets/img/case/04.jpg" alt="">
                                <a class="popup-img case-link" href="assets/img/case/04.jpg"> <i
                                        class="fal fa-plus"></i></a>
                            </div>
                            <div class="case-content">
                                <div class="case-content-info">
                                    <small>Drone</small>
                                    <h4><a href="#">Advanced Drone</a></h4>
                                </div>
                                <a href="#" class="case-arrow"><i class="far fa-arrow-right"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4 filter-item cat1 cat4 cat5">
                        <div class="case-item">
                            <div class="case-img">
                                <img class="img-fluid" src="assets/img/case/05.jpg" alt="">
                                <a class="popup-img case-link" href="assets/img/case/05.jpg"> <i
                                        class="fal fa-plus"></i></a>
                            </div>
                            <div class="case-content">
                                <div class="case-content-info">
                                    <small>Technology</small>
                                    <h4><a href="#">Modern Technology</a></h4>
                                </div>
                                <a href="#" class="case-arrow"><i class="far fa-arrow-right"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4 filter-item cat4 cat3">
                        <div class="case-item">
                            <div class="case-img">
                                <img class="img-fluid" src="assets/img/case/06.jpg" alt="">
                                <a class="popup-img case-link" href="assets/img/case/06.jpg"> <i
                                        class="fal fa-plus"></i></a>
                            </div>
                            <div class="case-content">
                                <div class="case-content-info">
                                    <small>Robot</small>
                                    <h4><a href="#">Advanced Robot</a></h4>
                                </div>
                                <a href="#" class="case-arrow"><i class="far fa-arrow-right"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- case area end -->



        <!-- faq area -->
        <div class="faq-area bg py-120">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="faq-left">
                            <div class="site-heading mb-3">
                                <span class="site-title-tagline">Faq's</span>
                                <h2 class="site-title my-3">General <span>frequently</span> asked questions</h2>
                            </div>
                            <p class="about-text">There are many variations of passages of Lorem Ipsum available,
                                but the majority have suffered alteration in some form, by injected humour, or
                                randomised words which don't look even.</p>
                            <p>It is a long established fact that a reader will be distracted by the readable content of
                                a page when looking at its layout. </p>
                            <a href="#" class="theme-btn mt-5">Ask Question</a>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="accordion" id="accordionExample">
                            <div class="accordion-item">
                                <h2 class="accordion-header" id="headingOne">
                                    <button class="accordion-button" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                        <span><i class="far fa-question"></i></span> Do I Need A Business Plan ?
                                    </button>
                                </h2>
                                <div id="collapseOne" class="accordion-collapse collapse show"
                                    aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                                    <div class="accordion-body">
                                        We denounce with righteous indignation and dislike men who
                                        are so beguiled and demoralized by the charms of pleasure of the moment, so
                                        blinded by desire.
                                    </div>
                                </div>
                            </div>
                            <div class="accordion-item">
                                <h2 class="accordion-header" id="headingTwo">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                        <span><i class="far fa-question"></i></span> How Long Should A Business Plan Be
                                        ?
                                    </button>
                                </h2>
                                <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
                                    data-bs-parent="#accordionExample">
                                    <div class="accordion-body">
                                        We denounce with righteous indignation and dislike men who
                                        are so beguiled and demoralized by the charms of pleasure of the moment, so
                                        blinded by desire.
                                    </div>
                                </div>
                            </div>
                            <div class="accordion-item">
                                <h2 class="accordion-header" id="headingThree">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#collapseThree" aria-expanded="false"
                                        aria-controls="collapseThree">
                                        <span><i class="far fa-question"></i></span> What Payment Gateway You Support ?
                                    </button>
                                </h2>
                                <div id="collapseThree" class="accordion-collapse collapse"
                                    aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                                    <div class="accordion-body">
                                        We denounce with righteous indignation and dislike men who
                                        are so beguiled and demoralized by the charms of pleasure of the moment, so
                                        blinded by desire.
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- faq area end -->



        <!-- blog-area -->
        <div class="blog-area pt-120">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 mx-auto">
                        <div class="site-heading text-center">
                            <span class="site-title-tagline">Our Blog</span>
                            <h2 class="site-title">News & <span> Blog</span></h2>
                            <div class="heading-divider"></div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 col-lg-4">
                        <div class="blog-item">
                            <div class="blog-item-img">
                                <img src="assets/img/blog/01.jpg" alt="Thumb">
                            </div>
                            <div class="blog-item-info">
                                <div class="blog-item-meta">
                                    <ul>
                                        <li><a href="#"><i class="far fa-user-circle"></i> By Alicia Davis</a></li>
                                        <li><a href="#"><i class="far fa-calendar-alt"></i> May 10, 2024</a></li>
                                    </ul>
                                </div>
                                <h4 class="blog-title">
                                    <a href="#">There are many variates of passages alteration</a>
                                </h4>
                                <p>At vero eos et accusamus et iusto odio ducimus qui blanditiis deleniti atque </p>
                                <a class="theme-btn" href="#">Read More</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4">
                        <div class="blog-item">
                            <div class="blog-item-img">
                                <img src="assets/img/blog/02.jpg" alt="Thumb">
                            </div>
                            <div class="blog-item-info">
                                <div class="blog-item-meta">
                                    <ul>
                                        <li><a href="#"><i class="far fa-user-circle"></i> By Alicia Davis</a></li>
                                        <li><a href="#"><i class="far fa-calendar-alt"></i> May 10, 2024</a></li>
                                    </ul>
                                </div>
                                <h4 class="blog-title">
                                    <a href="#">There are many variates of passages alteration</a>
                                </h4>
                                <p>At vero eos et accusamus et iusto odio ducimus qui blanditiis deleniti atque </p>
                                <a class="theme-btn" href="#">Read More</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4">
                        <div class="blog-item">
                            <div class="blog-item-img">
                                <img src="assets/img/blog/03.jpg" alt="Thumb">
                            </div>
                            <div class="blog-item-info">
                                <div class="blog-item-meta">
                                    <ul>
                                        <li><a href="#"><i class="far fa-user-circle"></i> By Alicia Davis</a></li>
                                        <li><a href="#"><i class="far fa-calendar-alt"></i> May 10, 2024</a></li>
                                    </ul>
                                </div>
                                <h4 class="blog-title">
                                    <a href="#">There are many variates of passages alteration</a>
                                </h4>
                                <p>At vero eos et accusamus et iusto odio ducimus qui blanditiis deleniti atque </p>
                                <a class="theme-btn" href="#">Read More</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- blog-area end -->


        <!-- partner-area -->
        <div class="partner-area py-120">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 mx-auto">
                        <div class="site-heading text-center">
                            <span class="site-title-tagline">Partners</span>
                            <h2 class="site-title">Our <span>Partners</span></h2>
                            <div class="heading-divider"></div>
                        </div>
                    </div>
                </div>
                <div class="partner-wrapper">
                    <div class="row justify-content-center">
                        <div class="col-md-2">
                            <div class="partner-item">
                                <img src="assets/img/partner/01.png" alt="thumb">
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="partner-item">
                                <img src="assets/img/partner/02.png" alt="thumb">
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="partner-item">
                                <img src="assets/img/partner/03.png" alt="thumb">
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="partner-item">
                                <img src="assets/img/partner/04.png" alt="thumb">
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="partner-item">
                                <img src="assets/img/partner/05.png" alt="thumb">
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="partner-item">
                                <img src="assets/img/partner/06.png" alt="thumb">
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="partner-item">
                                <img src="assets/img/partner/07.png" alt="thumb">
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="partner-item">
                                <img src="assets/img/partner/08.png" alt="thumb">
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="partner-item">
                                <img src="assets/img/partner/09.png" alt="thumb">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- partner-area end -->
        

    </main>



    <!-- footer area -->
    <footer class="footer-area">
        <div class="footer-widget">
            <div class="container">
                <div class="row footer-widget-wrapper pt-100 pb-70">
                    <div class="col-md-6 col-lg-4">
                        <div class="footer-widget-box about-us">
                            <a href="#" class="footer-logo">
                                <img src="assets/img/logo/logo.png" alt="">
                            </a>
                            <p class="mb-20">
                                We are many variations of passages available but the majority have suffered alteration
                                in some form by injected humour.
                            </p>
                            <div class="footer-contact">
                                <ul>
                                    <li><i class="far fa-map-marker-alt"></i>25/B Milford Road, New York, USA</li>
                                    <li><a href="tel:+21236547898"><i class="far fa-phone"></i>+2 123 654 7898</a></li>
                                    <li><a href="mailto:support@example.com"><i
                                                class="far fa-envelope"></i>support@example.com</a> </li>
                                </ul>
                            </div>
                            <ul class="footer-social">
                                <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                                <li><a href="#"><i class="fab fa-x-twitter"></i></a></li>
                                <li><a href="#"><i class="fab fa-youtube"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-2">
                        <div class="footer-widget-box list">
                            <h4 class="footer-widget-title">Quick Links</h4>
                            <ul class="footer-list">
                                <li><a href="#"><i class="fas fa-caret-right"></i> About Us</a></li>
                                <li><a href="#"><i class="fas fa-caret-right"></i> FAQ's</a></li>
                                <li><a href="#"><i class="fas fa-caret-right"></i> Terms Of Service</a></li>
                                <li><a href="#"><i class="fas fa-caret-right"></i> Privacy policy</a></li>
                                <li><a href="#"><i class="fas fa-caret-right"></i> Our Services</a></li>
                                <li><a href="#"><i class="fas fa-caret-right"></i> Team Members</a></li>
                                <li><a href="#"><i class="fas fa-caret-right"></i> Latest Blog</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-3">
                        <div class="footer-widget-box list">
                            <h4 class="footer-widget-title">Our Services</h4>
                            <ul class="footer-list">
                                <li><a href="#"><i class="fas fa-caret-right"></i> Machine Learning</a></li>
                                <li><a href="#"><i class="fas fa-caret-right"></i> Data Mining</a></li>
                                <li><a href="#"><i class="fas fa-caret-right"></i> Robotic Automation</a></li>
                                <li><a href="#"><i class="fas fa-caret-right"></i> Deep Learning</a></li>
                                <li><a href="#"><i class="fas fa-caret-right"></i> Predictive Analytic</a></li>
                                <li><a href="#"><i class="fas fa-caret-right"></i> Security & Surveillance</a></li>
                                <li><a href="#"><i class="fas fa-caret-right"></i> Statistic Modeling</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-3">
                        <div class="footer-widget-box list">
                            <h4 class="footer-widget-title">Newsletter</h4>
                            <div class="footer-newsletter">
                                <p>Subscribe Our Newsletter To Get Latest Update And News</p>
                                <div class="subscribe-form">
                                    <form action="#">
                                        <input type="email" class="form-control" placeholder="Your Email">
                                        <button class="theme-btn" type="submit">
                                            Subscribe Now <i class="far fa-paper-plane"></i>
                                        </button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="copyright">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 align-self-center">
                        <p class="copyright-text">
                            &copy; Copyright <span id="date"></span> <a href="#"> Braintox </a> All Rights Reserved.
                        </p>
                    </div>
                    <div class="col-lg-6 align-self-center">
                        <ul class="footer-menu">
                            <li><a href="#">Support</a></li>
                            <li><a href="#">Terms Of Services</a></li>
                            <li><a href="#">Privacy Policy</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- footer area end -->




    <!-- scroll-top -->
    <a href="#" id="scroll-top"><i class="far fa-long-arrow-up"></i></a>
    <!-- scroll-top end -->


    <!-- js -->
    <script src="assets/js/jquery-3.6.0.min.js"></script>
    <script src="assets/js/modernizr.min.js"></script>
    <script src="assets/js/bootstrap.bundle.min.js"></script>
    <script src="assets/js/imagesloaded.pkgd.min.js"></script>
    <script src="assets/js/jquery.magnific-popup.min.js"></script>
    <script src="assets/js/isotope.pkgd.min.js"></script>
    <script src="assets/js/jquery.appear.min.js"></script>
    <script src="assets/js/jquery.easing.min.js"></script>
    <script src="assets/js/owl.carousel.min.js"></script>
    <script src="assets/js/counter-up.js"></script>
    <script src="assets/js/wow.min.js"></script>
    <script src="assets/js/contact-form.js"></script>
    <script src="assets/js/main.js"></script>

</body>

</html>